<div>
    <app-header></app-header>

    <div>
      <p class="despre">DESPRE</p>
      <p class="bugetare">BUGETARE PARTICIPATIVA</p>
    </div>


    <div class="content">
      <div class="column">
        <p class="title1">CE ESTE?</p>
        <img class="text1" src="assets/text1.png">
      </div>
      <div class="column">
        <img class="about1" src="assets/about1.png">
      </div>
    </div>

    <div class="content">
      <div class="column">
        <img class="about2" src="assets/about2.png">
      </div>
      <div class="column">
        <p class="title2">LA CE IMI FOLOSESTE?</p>
        <img class="text2" src="assets/text2.png">
      </div>
    </div>

</div>
