<div>
  <app-header></app-header>

  <div>
    <p class="intra">INTRA IN CONT</p>
    <p class="bugetare">BUGETARE PARTICIPATIVA</p>
  </div>

  <div class="row">
    <div class="autentificare">
      <p *ngIf="!incorrect" class="title1">AUTENTIFICARE</p>
      <p *ngIf="incorrect" class="incorect-credentials">AUTENTIFICARE - CREDENTIALE INCORECTE</p>
      <hr class="hr1">
      <p class="label">Email-ul sau numarul de telefon</p>
      <input type="text" [(ngModel)]="emailTelefon">
      <p class="label">Parola</p>
      <input type="password" [(ngModel)]="parolaLogin">
      <button (click)="login()">CONECTEAZA-TE
      </button>
    </div>

    <div class="creare">
      <p class="title2">CREARE CONT NOU</p>
      <hr class="hr2">

      <div class="row-input">
        <div class="column1">
          <p *ngIf="!invalid" class="label">Nume</p>
          <p *ngIf="invalid" class="nume-prenume">Nume(cel putin 3 litere)</p>
          <input type="text" [(ngModel)]="nume" required>
        </div>
        <div class="column2">
          <p *ngIf="!invalid1" class="label">Prenume</p>
          <p *ngIf="invalid1" class="nume-prenume">Prenume(cel putin 3 litere)</p>
          <input type="text" required minlength="3" [(ngModel)]="prenume">
        </div>
      </div>

      <div class="row-input">
        <div class="column1">
          <p *ngIf="!invalid5" class="label">Adresa de email</p>
          <p *ngIf="invalid5" class="nume-prenume">Adresa de email invalida</p>
          <input type="email" type="text" [(ngModel)]="email">
        </div>
        <div class="column2">
          <p *ngIf="!invalid3" class="label">Numarul de telefon</p>
          <p *ngIf="invalid3" class="nume-prenume">Telefon(10 cifre)</p>
          <input type="text" [(ngModel)]="telefon">
        </div>
      </div>

      <div class="row-input">
        <div class="column1">
          <p class="label">Zona de interes (1)</p>
          <select (change)="selectChangeHandler1($event)">
            <option *ngFor="let zona of zone" [value]="zona">{{zona}}</option>
          </select>
        </div>
        <div class="column2">
          <p class="label">Zona de interes (2)</p>
          <select (change)="selectChangeHandler2($event)">
            <option *ngFor="let zona of zone" [value]="zona">{{zona}}</option>
          </select>
        </div>
      </div>
      <p *ngIf="invalid2" class="confirmare">Cele doua zone de interes coincid!</p>

      <div class="row-input">
        <div class="column1">
          <p class="label">Parola</p>
          <input type="password" [(ngModel)]="parola">
        </div>
        <div class="column2">
          <p class="label">Confirmare parola</p>
          <input type="password" [(ngModel)]="confirmare">
        </div>
      </div>
      <p *ngIf="invalid4" class="confirmare">Parolele nu coincid!</p>

      <div class="row-input">
        <div class="column1-acord">
          <input class="check" type="checkbox" [(ngModel)]="notificari">
        </div>
        <div class="column2-acord">
          <p class="label-acord">Sunt de acord sa fiu notificat atunci cand apar proiecte noi</p>
        </div>
      </div>

      <button class="button-create" (click)="create()">CREAZA-TI CONT NOU</button>

    </div>
  </div>

</div>
