img {
  padding-top: 14px;
  padding-left: 25px;
  width: 70px;
  height: 70px;
  vertical-align: top;
}

.footer {
  background-color: blue;
  margin-top: -4px;
  margin-left: -8px;
  padding: 0px;
  width: 1450px;
  height: 110px;
  display: inline-block;
}

.text {
  display: inline-block;
  background-color: blue;
  font-weight: bold;
  color: white;
  border: blue;
  width: 208px;
  height: 100px;
  margin-top: 0px;
  padding-left: 15px;
  font-size: medium;
}

.text1 {
  display: inline-block;
  background-color: blue;
  font-weight: bold;
  color: darkorange;
  border: blue;
  width: 208px;
  height: 100px;
  margin-top: 0px;
  padding-left: 15px;
  font-size: medium;
}

.info{
  display: inline-block;
  padding-left: 280px;
}

.date {
  background-color: blue;
  margin-top: -38px;
  color: white;
  margin-left: 435px;
  font-size: small;
}

.date1 {
  background-color: blue;
  margin-top: -27px;
  color: white;
  margin-left: 610px;
  font-size: small;
}

.date2 {
  background-color: blue;
  margin-top: -28px;
  color: darkorange;
  margin-left: 800px;
  font-size: small;
}

.date3 {
  background-color: blue;
  margin-top: -28px;
  color: white;
  margin-left: 1049px;
  font-size: small;
}




