<div class="footer">
    <img src="assets/1512642.png">
  <div class="info">
    <button class="text">
      TU DEPUI PROIECTELE
    </button>
    <button class="text">
      NOI ANALIZAM
    </button>
    <button class="text1">
      TU VOTEZI
    </button>
    <button class="text">
      NOI IMPLEMENTAM
    </button>
  </div>
  <div class="dates">
    <p class="date">
      7 IUNIE - 18 IULIE
    </p>
    <p class="date1">
      19 IULIE - 12 SEPTEMBRIE
    </p>
    <p class="date2">
      13 SEPTEMBRIE - 18 NOIEMBRIE
    </p>
    <p class="date3">
      INCEPAND DIN 2022
    </p>
  </div>
</div>
