.header {
  display: inline-block;
  margin: -10px;
  padding: 0px;
  background-color: blue;
}

.logo-header{
  width: 302px;
  display: inline-block;
}

img {
  width: 150px;
  height: 110px;
  padding-left: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: top;
}

.nav-bar {
  margin-top: 0px;
  width: 208px;
  height: 155px;
  border: blue;
  background-color: blue;
  font-weight: bold;
  color: white;
  &:hover{
    color: darkorange;
  }
}
