<div>
  <app-header></app-header>

  <div>
    <p class="title">{{project1.title}}</p>
  </div>
  <div class="details">
    <img src="{{project1.photo}}">
    <div class="textfield">
      {{project1.description}}
    </div>
    <div class="meeting">
      <button type="button" class="participate">Participa la intalnire</button>
      <button type="button" class="participatedetails" (click)="openDetails()">Detalii intalnire</button>
    </div>
  </div>
  <div>
    <p class="creator">{{project1.creator}}</p>
    <p class="creator">{{project1.budget}} €</p>
    <p class="creator">Votes: {{project1.votesNumber}}</p>
    <button type="button" class="vote" (click)="vote()">Voteaza</button>
  </div>
  <div class="forum">
    <div class="content">
      <div class="opinions"></div>
      <p><input class="text" type="text" placeholder="Spune-ti parerea!" #text><button class="send" type="button" (click)="sendOpinion(text.value)">Send</button></p>
  </div>
  <div class="detailsWindow">
      <div class="detailsText">
        {{project1.meetingDate}}
      <p>{{project1.meetingHour}}</p>
      <p>{{project1.meetingDescription}}</p></div>
  </div>
</div>
</div>
