.bugetare {
  color: gray;
  font-weight: bolder;
  font-size: larger;
  margin-left: 585px;
  margin-top: 15px;
}

.proiecte {
  color: blue;
  font-weight: bolder;
  font-size: larger;
  margin-left: 570px;
  margin-top: 45px;
}
