.image {
  background-size: cover;
  margin-left: -10px;
  height: 580px;
  width: 1450px;
  background-image: url("../../../assets/cluj.jpeg");
}

.content {
  margin: 0px;
  padding-top: 55px;
  padding-left: 230px;
  font-weight: bolder;
  color: white;
  font-family: "Papyrus", "Courier New", monospace;
}

.text1 {
  margin-left: 48px;
  font-size: 50px;
}

.text2 {
  margin-top: -70px;
  margin-left: 130px;
  font-size: 30px
}
