
.bugetare {
    color: gray;
    font-weight: bolder;
    font-size: larger;
    margin-left: 585px;
    margin-top: 15px;
  }

  .analiza {
    color: darkblue;
    font-weight: bolder;
    font-size: larger;
    margin-left: 620px;
    margin-top: 45px;
  }

  .button-proiect1 {
    height: 40px;
    border-radius: 25px;
    background-color: white;
    border-color: white;
    color: Green;
    font-size: larger;
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 25px;
  }

  .button-proiect2 {
    height: 40px;
    border-radius: 25px;
    background-color: white;
    border-color: white;
    color: Green;
    font-size: larger;
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 25px;
  }

  .button-proiect3 {
    height: 40px;
    border-radius: 25px;
    background-color: white;
    border-color: white;
    color: Green;
    font-size: larger;
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 25px;
  }

  .button-proiect4 {
    height: 40px;
    border-radius: 25px;
    background-color: white;
    border-color: white;
    color: Green;
    font-size: larger;
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 25px;
  }

  .button-proiect5 {
    height: 40px;
    border-radius: 25px;
    background-color: white;
    border-color: white;
    color: Green;
    font-size: larger;
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 25px;
  }
  
  .title {
    margin-left: 15px;
    font-size: larger;
    color: darkblue;
    padding-top: 10px;
    font-weight: bolder;
  }

  .title1 {
    margin-left: 15px;
    font-size: larger;
    color: Green;
    padding-top: 10px;
    font-weight: bolder;
  }

  .detalii {
    margin-left: 400px;
  }

  .button-aproba, .button-respinge{
    height: 40px;
    border-radius: 25px;
    background-color: white;
    border-color: white;
    color: blue;
    font-size: larger;
    font-weight: bolder;
    margin-top: 90px;
    margin-left: 300px;
    display: inline-block;
  }

  .aprobari{
    margin-top: 20px;
    margin-left: 400px;

  }

  .img1, .img2, .img3{
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  height: auto;
  }

  .aproba1{
    display: none;
  }

  .respinge1{
    display: none;
  }