<div>
  <app-header></app-header>
<div class="creare">
  <p class="title2">Adaugare Proiect</p>
  <hr class="hr2">

  <div class="row-input">
    <div class="column1">
      <p *ngIf="!invalid" class="label">Denumire</p>
      <p *ngIf="invalid" class="invalid">Denumire(cel putin 6 caractere)</p>
      <input type="text" [(ngModel)]="denumire">
    </div>
    <div class="column2">
      <p *ngIf="!invalid1" class="label">Descriere</p>
      <p *ngIf="invalid1" class="invalid">Descriere(cel putin 25 caractere)</p>
      <input class="descriere" type="text" [(ngModel)]="descriere">
    </div>
  </div>

  <div class="row-input">
    <div class="column1">
      <p *ngIf="!invalid2" class="label">Buget</p>
      <p *ngIf="invalid2" class="invalid">Buget(cel putin 2 cifre)</p>
      <input type="text" [(ngModel)]="buget">
    </div>
  </div>

  <div class="row-input">
    <div class="column1">
      <p class="label">Domeniu</p>
      <select (change)="selectChangeHandler1($event)">
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select>
    </div>
  </div>

  <div class="row-input">
    <div class="column1">
      <p class="label">Zona</p>
      <select (change)="selectChangeHandler1($event)">
        <option *ngFor="let zona of zone" [value]="zona">{{zona}}</option>
      </select>
    </div>
    <div class="column2">
      <button class="button-create" (click)="create()">Propune Proiectul</button>
    </div>
  </div>

  <div class="row-input">
    <div class="column1">
      <p *ngIf="!invalid3" class="label">De ce ar trebui sustinut/implementat proiectul?</p>
      <p *ngIf="invalid3" class="invalid">De ce ar trebui sustinut/implementat proiectul?(cel putin 30 caractere)</p>
      <input type="text" [(ngModel)]="why">
    </div>
  </div>

</div>
</div>
